* {
  padding: 0;
  margin: o;
}
body {
  background-color: salmon;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  position: relative;
  background-color: lightgray;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid darkgray;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
img {
  width: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  z-index: 2;
}
.numbers div {
  position: absolute;
  font-size: 27px;
  font: bold;
  color: lightgoldenrodyellow;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.twelve {
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}
.three {
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
.six {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}
.nine {
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.hands {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.hands::before {
  content: " ";
  width: 25px;
  height: 25px;
  background-color: darkgreen;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 4;
}
.hands div {
  background-color: white;
  width: 7px;
  position: absolute;
  height: 120px;
  transform-origin: bottom center;
  bottom: 50%;
  z-index: 3;
  border-radius: 50% 50% 0 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hands .hour{
    height: 80px;
    transform: rotate(30deg);
}
.hands .sec{
    transform: rotate(250deg);
    background-color: goldenrod;
}